.container{
  max-width: 900px;
  padding-top: 2.5em;
}
.container h4{
  font-weight: 700;
  font-size: 1.6rem;
}

@media (max-width:768px) {
  .container{
    padding-top: 5em;
  }
}

.order-heading{
  background-color: rgb(240, 239, 239);
  padding: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid gainsboro;
  display: grid;
  grid-template-columns: 160px auto 1fr;
  margin-top: 1em;
}

.order-heading > div{
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.order-heading > div:last-of-type{
  margin-left: auto;
}

@media (max-width:590px) {
  .order-heading{
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .order-heading > div:last-of-type{
    margin-left: 0;
  }
}

.order-body{
  display: grid;
  grid-template-columns: 130px 1fr;
  padding: 2em 1em;
  border-bottom: 1px solid gainsboro;
  border-inline: 1px solid gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-body img{
  max-height: 130px;
  max-width: 130px;
}

.order-body > .div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2em;
}

.order-body > .div .d-flex{
 align-items: start;
}


.order-body > .div div:last-of-type{
  display: flex;
  justify-content: center;
  align-self: self-start;
}

.order-body > .div div:last-of-type a{
  padding-inline: 3em;
}

.order-body h5{
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

@media (max-width:768px) {
  .order-body{
    grid-template-columns: 110px 1fr;
  }

  .order-body > .div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-left: 3em;
  }

  .order-body > .div div:last-of-type{
    justify-content: start;
  }

  .order-body > .div div:last-of-type button{
    padding-inline: 1em;
  }

  .order-body h5{
    height: 40px;
  }
}

@media (max-width:425px) {
  .order-body{
    grid-template-columns: 1fr;
    padding: 2em;
  }

  .order-body > .div{
    margin-left: 0;
  }

  .order-body > div .d-flex{
    align-items: stretch;
    margin-top: 1.5em;
   }
  
   .order-body .btn{
    width: 100%;
   }
}

